
<html>
 <head>
 </head>   
 <body>
<h1> Hello! This is embeded ruby file. </h1>
<p>
My name is <%@name%>

<h1> Add 2 numbers together using two variables that define in your controll </h1>

<h1> <%=@num1 + @num2%> </h1>


</body>
</html>